<h1>My Requests</h1>

<div class="row">
  <div class="col-9">  
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |request| %>
          <% if current_account == Account.find(request.friend_id) && request.status == 0 %>
            <tr>
              <td><%= Account.find(request.account_id).full_name %></td>
              <td><%= link_to 'View Profile', account_path(request),
                                            class: 'btn btn-sm btn-warning' %>
              <%= link_to 'Accept', friendships_path(account: request.account, friend: request.friend), method: :post,
                                            class: 'btn btn-sm btn-success' %>
              <%= link_to 'Reject', request_path(request), method: :delete, data: {confirm: 'Are you sure?'},
                                            class: 'btn btn-sm btn-danger' %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>   