<% if @views.count == 0 %>
<h2> No one viewed your account</h2>
<% else %>
<h1>Viewed your account</h1>
<div class="row">
  <div class="col-9">  
    <table class="table table-bordered table-hover"> 
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @views.each do |view|%>
        <% byebug %>
          <% if !view.account == current_account %>
          <tr>  
            <td><%= link_to view.account.full_name, account_path(view) %></td>
            <td><%= link_to 'View Profile', account_path(friend),
                                          class: 'btn btn-sm btn-warning' %>
            <%= link_to "okay", view_path(view), method: :delete, class: 'btn btn-sm btn-warning'%></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>