@import 'bootstrap/dist/css/bootstrap';

.user-name {
  margin-top: 3.5%;
  padding-right: 5px; 
  color: white;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.logout-button {
  margin-right: 5px;
}

body{background: #eee}.date{font-size: 11px}.comment-text{font-size: 12px}.fs-12{ padding-left: 10px; font-size: 17px}.shadow-none{box-shadow: none}.name{color: #007bff}.cursor:hover{color: blue}.cursor{cursor: pointer}.textarea{resize: none}

.like{
  background-color:  rgb(163, 211, 163);
  border-radius: 10px;
  color: #333; /* Dark grey */ 
  width: 130px;
  height: 50px;
  margin-left: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.active{
  text-align: center;
  background-color: #4978f0;
}

.delete-button-in-acc{
  margin-left: 150px;
}

.delete-comment{
  
  float: right;
  margin: 5px 0 0 10px;
}

.profile_pic{
  width: 50px;
  height: 40px;
}

.like-button{
  border: none;
  background-color: rgb(163, 211, 163);
  border-radius: 10px; 
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition-duration: 0.4s;
  width: 130px;
  height: 50px;
  cursor: pointer;
}


.like-button:hover {background-color: #84b478;}

.like:hover{font-weight:bold; text-decoration:none; color: inherit;}

.other-likes{
  border:none;
  background-color: white;  
  color: rgba(0, 119, 255, 0.938);
  padding: 0!important;
}
.other-likes:hover {background-color: white; color:inherit;}