<h1>Friends</h1>
<div class="w-100 p-3">
<div class="row">
<div class="col-md-6">
<h3>Your Connections</h3>
<% if @friends.count > 0 %>
  <%= render 'friends/list' %>
<% else %>
  <h4>Sorry, you have no friends!!!</h4>
<% end %> 
</div>
<div class="col-md-2">
</div>
<div class="col-md-4">
<% if @requests.count == 0 %>
<h3>You have not requested anyone yet</h3>
<% else %>
<h3>You Requested</h3>

  <table class="table table-bordered table-hover" style="text-align: center;"> 
      <thead>
        <tr>
          <th scope="col" style="width: 120px">Name</th>
          <th scope="col" style="width: 20px">Actions</th>
        </tr>
      </thead>
      <tbody>
  <% @requests.each do |request|%>
  <tr>
    <% acc = Account.find(request.friend_id) %>
    <td><%= link_to acc.full_name, account_path(acc)%></td>
       <td> <%= link_to 'Undo', request_path(request), method: :delete, data: {confirm: 'Are you sure?'},
                                                class: 'btn btn-sm btn-warning' %></td>
    </tr>
    <% end %>
  </tbody>
    </table>
    
<% end %>
<div>
</div>
</div>