<h2> User details</h2>


<div class="card card-header results-block">
<table class="col-md-12">
  <tbody>

  <tr>
  <td><strong>Name: </strong> <%= @acc.full_name %></td>
  <td><strong>Email: </strong> <%= @acc.email %></td>
  <td>
  <% if current_account.not_friends_with?(@acc.id)%>
  <%= link_to 'Connect?', friendships_path(friend: @acc),
                          class: "btn btn-sm btn-success", method: :post %>
  <% else %>
    <span class="badge badge-secondary">
      You are connections
      </span>
  <% end  %>
  </td>
                        
  </tr>
</tbody>
</table>
</div>
